<div class="modal-header">
    <h3 class="modal-title"><i class="fa fa-users"></i> {{vm.title}}</h3>
</div>
<div class="modal-body">
<div ></div>
<div class="col-md-12">
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon">
                <i class="fa fa-search" aria-hidden="true"></i>
            </span>  
            <input type="text" class="form-control input-sm" placeholder="Localizar Perfil" ng-model="vm.consulta.nome"/>
        </div>
    </div>
    <div class="form-group">
        <button type="button" class="btn btn-primary" ng-click="vm.addNovoReg()"><i class="fa fa-plus" aria-hidden="true"></i> Novo Perfil</button>
    </div>
</div>

<table class="table table-bordered table-condensed table-striped">
    <tr style="font-weight: bold">
      <td style="width:65%">Descrição do Pefil</td>
      <td style="width:35%">Funções</td>
    </tr> 
    <tr data-ng-repeat="p in vm.perfils | filter:vm.consulta.nome | orderBy:'nome' | limitTo: offset - vm.perfils.length | limitTo:vm.totalRegPag">
      <td>
        <!-- editable username (text with validation) -->
        <span editable-text="p.nome" e-name="nome" e-form="rowform" onbeforesave="" e-required>
          {{p.nome}}
        </span>
      </td>

      <td style="white-space: nowrap">
        <!-- form -->
        <form editable-form name="rowform" onbeforesave="vm.salvar(p)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="vm.addreg == p">
          <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary" title="Salvar"><i class="fa fa-floppy-o" aria-hidden="true"></i></button>
          <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default" title="Cancelar"><i class="fa fa-ban" aria-hidden="true"></i></button>
        </form>
        <div class="buttons" ng-show="!rowform.$visible">
          <button class="btn btn-success" ng-click="vm.addModulos(p)" title="Configurar modulos para o perfil"><i class="fa fa-cogs" aria-hidden="true"></i></button>        
          <button class="btn btn-primary" ng-click="rowform.$show()" title="Alterar"><i class="fa fa-edit" aria-hidden="true"></i></button>
          <button class="btn btn-danger" ng-click="vm.deletar(p,$index)" title="Excluir"><i class="fa fa-trash" aria-hidden="true"></i></button>
        </div>  
      </td>
    </tr>
  </table>
    <div style="align:center">
        <pagination total-items="vm.perfils.length" ng-model="vm.nPagina" max-size="5" class="pagination-sm" boundary-links="true" rotate="false" items-per-page="vm.totalRegPag" num-pages="numPages"></pagination>
    </div>  
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="vm.ok(vm.perfils)">Concluir</button>
</div>