<div class="row">
	<div class="col-md-12">
		<div class="panel panel-primary">
			<div class="panel-body">
				<form class="form-horizontal">
			        <div class="form-group">
			            <label for="id_reserva" class="col-sm-4 control-label">Nº Contrato</label>
			            <div class="col-sm-5">
			                <span class="form-control input-sm" >{{t.id_reserva}}</span>
			            </div>
			        </div>
			        <div class="form-group">
			            <label for="id_reserva" class="col-sm-4 control-label">Data Contrato</label>
			            <div class="col-sm-8">
			                <span class="form-control input-sm" >{{vm.convDate(t.data_reserva)|date:'dd/MM/yyyy'}}</span>
			            </div>
			        </div>
			        <div class="form-group">
			            <label for="id_reserva" class="col-sm-4 control-label">Data Retirada</label>
			            <div class="col-sm-8">
			                <span class="form-control input-sm" >{{vm.convDate(t.data_retirada)|date:'dd/MM/yyyy'}}</span>
			            </div>
			        </div>

			        <div class="form-group">
			            <label for="id_reserva" class="col-sm-4 control-label">Data Evento</label>
			            <div class="col-sm-8">
			                <span class="form-control input-sm" >{{vm.convDate(t.data_evento)|date:'dd/MM/yyyy'}}</span>
			            </div>
			        </div>
			        <div class="form-group">
			            <label for="id_reserva" class="col-sm-4 control-label">Data Devolução</label>
			            <div class="col-sm-8">
			                <span class="form-control input-sm" >{{vm.convDate(t.data_devolucao)|date:'dd/MM/yyyy'}}</span>
			            </div>
			        </div>
			        <div class="form-group">
			        	<button class="btn btn-primary" type="button" ng-click="vm.openReserva(t)"><i class="fa fa-external-link" aria-hidden="true"></i> Abrir Contrato</button>
			        </div>			        
				</form>
			</div>
		</div>
	</div>
</div>