<div class="modal-header bblue">
    <button type="button" class="close" data-dismiss="alert" ng-click="vm.cancel()" >
      <span aria-hidden="true">&times;</span>
    </button>
    <div class="col-md-10">
        <h4 class="bblue h4"><i class="fa {{vm.icon}}" aria-hidden="true"></i> {{vm.title}}</h4>
    </div>
</div>
<div class="modal-body" ng-init="nameform.$show()">
    <div class="row">
        <div class="col-md-12">
			<div class="buttons">
				<button class="btn btn-primary" ng-click="vm.addItem()" ng-disabled="!nameform.$visible"><i class="fa fa-plus" aria-hidden="true"></i> Adicionar</button>
				<button class="btn btn-default" ng-click="nameform.$show()" ><i class="fa fa-edit" aria-hidden="true"></i> Editar</button>
			</div>        
        	<div class="table-responsive">
			    <table class="table table-bordered table-striped table-condensed">
			        <tr style="font-weight: bold; white-space: nowrap">
			          <!-- username header -->
			          <td style="width:10%">#</td>
			          <td style="width:10%">Referência</td>
			          <td style="width:40%">Traje</td>
			          <td style="width:10%">Cor</td>
			          <td style="width:10%">Tamanho</td>
			          <td style="width:10%">Valor</td>
			          <td style="width:5%" ng-show="nameform.$visible"></td>
			          <td style="width:5%">#</td>
			        </tr>

			        <tr  ng-repeat="t in vm.trajes track by $index" ng-class="{'bg-warning':t.ajustar}">
						<td><a href ng-click="vm.zoomImg(t)"><img src="{{vm.pathImg}}{{t.imagem?t.imagem:'noImg.jpg'}}" class="img-rounded" height="40px"></a></td>
						<td>{{t.ref}}</td>
						<td><i ng-show="t.ajustar" class="fa fa-scissors red" uib-tooltip="{{t.ajustes}}"></i> {{t.descricao}}</td>
						<td>{{t.cor}}</td>
						<td>{{t.tam}}</td>
						<td>
							<span editable-number="t.valor" e-name="valor" e-min="t.valor_min.toFixed(2)" e-form="nameform" e-ng-change="t.edit=true" onbeforesave="vm.validarDesc(t,$data)">
								{{t.valor|currency:'R$'}}
							</span>
						</td>
						<td ng-show="nameform.$visible">
							<a href ng-click="vm.ajustes(t)"><i  class="fa fa-pencil blue" aria-hidden="true" uib-tooltip="Realizar Ajustes"></i></a>
						</td>
						<td>
							<a href ng-click="vm.remItem(t)"><i  class="fa fa-trash red" aria-hidden="true"></i></a>
						</td>
			        </tr>
			      </table>
			      <div class="col-md-offset-9">
			      	<h4 class="blue"><strong>Total {{vm.soma(vm.trajes,'','valor') | currency:'R$'}}</strong></h4>
			      </div>

        	</div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <form editable-form name="nameform" ng-show="nameform.$visible" onaftersave="vm.salvar(vm.trajes)">
      <button type="submit" ng-disabled="nameform.$waiting" class="btn btn-success"><i class="fa fa-floppy-o" aria-hidden="true"></i>
        Salvar
      </button>
      <button type="button" ng-disabled="nameform.$waiting" ng-click="nameform.$cancel()" class="btn btn-default">
        Cancelar
      </button>
    </form>	
</div>