

<div class="row page-off">
	<div class="container">
	    <div align="center" style="margin-top: 30px; margin-bottom: 20px; color: #f2f2f2;">
	    	<img src="images/logo.png" height="100">
	    </div>
	    <div class="container">
	    	<div align="center">
	    		<h1 class="orange"> Aguarde ...</h1>
	    		<h1><small>Seu cadastro está sendo ativado</small></h1>
				<uib-progressbar class="progress-striped active" value="vm.funcoes.statusConfimCad" max="6" type="warning">{{(vm.funcoes.statusConfimCad / 6 * 100).toFixed(0)}}% </uib-progressbar>
	    	</div>
	    	<div ng-show="vm.funcoes.erroConfirmCad">
	    		<div class="alert alert-danger">
	    			<p><b>Descupe!</b> ouve uma falha na ativação do cadastro, por favor click no botão abaixo para tentar outra vez.</p>
	    		</div>
	    		<div class="form-group">
	    			<button class="btn btn-primary btn-lg" ng-click="vm.funcoes.confirmarCadastro()"> Tentar outra vez.</button>
	    		</div>
	    	</div>

	    </div>
    </div>
</div>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-51914748-5', 'auto');
  ga('send', 'pageview');

</script>    
