<div class="jumbotron">
	<div class="container" align="center">
		<h1>Concluido!</h1>
		<h2>Seu cadastro foi concluido com sucesso!</h2>
		<h3>Para começar a ultilizar o sistema, você precisa confirmar seus dados, acessando seu email e abrindo a messagem que foi enviado para o endereço que você cadastrou.</h3>
	</div>
</div>

<div class="container">
	<div class="col-sm-12">
		<h3>Siga os seguintes passos:</h3>
	</div>
	<div class="row">
	  <div class="col-sm-4">
	  	<div align="center">
	  		<h3>Passo 1</h3>
	  	</div>
	    <div class="thumbnail">
	      <img src="images/search-email.png" width="80" alt="procure o email">
	      <div class="caption">
	        <h3>Procure nosso email</h3>
	        <p>Procure pelo assunto <b>locDress:Confirme seu e-mail</b>, caso não encontre na caixa de entrada, dê uma olhada na caixa de span, pricipalmente se seu e-mail for <b>hotmail ou outlook.</b> Adcione meu <b>contato como importante</b> para você não perder nossos e-mail de <b>treinamentos e dicas do sistema</b>.</p>
	      </div>
	    </div>
	  </div>
	  <div class="col-sm-4">
	  	<div align="center">
	  		<h3>Passo 2</h3>
	  	</div>
	    <div class="thumbnail">
	      <img src="images/open-email.png" width="80" alt="Abra o email">
	      <div class="caption">
	        <h3>Abra o email</h3>
	        <p>Apos colocar nosso email em sua <b>lista de contatos</b>, click para abrir o email, no conteudo da menssagem você irá ver a logomarca do sistema (em alguns gerenciadores não exibe, somente um link para baixar a imagem), nesse caso fica a seu critério, não há a necessidade de baixar, porém o <b>passo 3 é importante</b>.</p>
	      </div>
	    </div>
	  </div>
	  <div class="col-sm-4">
	  	<div align="center">
	  		<h3>Passo 3</h3>
	  	</div>
	    <div class="thumbnail">
	      <img src="images/click-email.png" width="80" alt="Click no botão">
	      <div class="caption">
	        <h3>Click no botão de confirmação</h3>
	        <p>No corpo da menssagem tem um titulo <b>validar email</b> e um botão com a frase <b>Ativar Meu Cadastro</b>, click nesse botão e você será redirecionado para uma pagina de <b>comprovação de humanidade</b> (Essa é uma pagina para garantir que o processo não está sendo feito por um robô), é só marcar a caixa e clicar no botão e então será redirecionado para o <b>login do sistema</b>. </p>
	      </div>
	    </div>
	  </div>		  
	</div>
</div>