<div class="col-md-12">
	<form class="form">
		<h3>Informe a logo marca da sua empresa</h3>
        <div class="form-group" align="center">
	        <div class="col-md-6">
	            <div ng-show="vm.uploader.progress" class="progress" style="margin: 0; padding: 0">
	                <div class="progress-bar" role="progressbar" ng-style="{ 'width': vm.uploader.progress + '%' }"></div>
	            </div>
	            <img src="{{vm.pathImg}}{{vm.empresa.logo?vm.empresa.logo:'noImg.jpg'}}" alt="" class="img-rounded" width="180px" >

	            <input id="upload" type="file" class="btn btn-default btn-sm form-control"  />

	            <!-- <button class="btn btn-primary btn-sm form-control" type="button" ng-click=""><i class="fa fa-file-image-o"></i> Carregar Img.</button> -->
	        </div>
        </div>
        <div class="form-group">
        	<div class="col-md-10">
            	<label for="slogan" >Slogan</label>
            	<input type="text" class="form-control"  ng-model="vm.empresa.slogan" name="slogan" tooltip-placement="top" uib-tooltip="Slogan da empresa" >
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                <button class="btn btn-primary btn-lg" ng-disabled="formEmp.$invalid" ng-click="vm.atualizarEmp()"><i class="fa fa-floppy-o"></i> Salvar</button>
            </div>
        </div>        
    </form>

</div>