<div class="page-splash">
	<div class="container">
	    <div align="center" style="margin-top: 30px; margin-bottom: 20px; color: #f2f2f2;">
	    	<img src="images/logo.png" height="100">
	    </div>
	    <div align="center" style="margin-bottom: 50px;">
	    	<h1 class="orange">Ative uma nova licença.</h1>
	    </div>
	    
	    <div class="col-xs-3 col-xs-offset-2" ng-repeat="p in vm.funcoes.planos | filter:{visivel:'1'}">
	    	<div class="thumbnail">
		    	<div align="center" style="margin-bottom: 30px;">
		    		<h1>{{p.descricao}}</h1>
		    		<h1>{{p.valor | currency:'R$'}}</h1>
		    		<p><small class="label label-warning" ng-show="p.dias_lic == 365">{{(p.valor/12) | currency:'R$'}} /mês</small> <small class="label label-warning">{{p.valor/p.dias_lic | currency:'R$'}} /dia</small></p>
		    		
		    		<hr>
		    	</div>
		    	<div align="center">
		    		<p>{{p.detalhes}}</p>
		    		<br>
		    		<div class="form-group">
		    			<a href="{{p.link_checkout}}" target="_blank" class="btn btn-primary"> Adiquirir licença</a>
		    		</div>
		    	</div>
	    	</div>
	    </div>

	</div>
</div>